/jee/*/.idea/
/jee/*/target/

/pooa/*/.idea/
/pooa/*/target/
/pooa/pattern/build
/pooa/Monopoly/.scannerwork

/webmobile/*/.idea/
/webmobile/*/target/
/webmobile/TP1/Application00/.idea/
/webmobile/TP1/CaclTigran/.idea/
/webmobile/TP2/MasquesTigran/.idea/
/webmobile/TP3/TestIntent01/.idea/
/webmobile/TP4/TpImageTigran/.idea/
/webmobile/TP6/TodoTigran/.idea/
