server/server.iml
server/target
server/src/main/resources/application-local.properties

web/web.iml
web/node_modules

/server/src/main/resources/application-local.yml
/authorization-server/authorization-server.iml
